$red-color: #f0145a;
$lightgrey: #f5f5fa;
$blue: #24a3ff;
$gray: #b3b3ba;
$purple: #46466e;
$purple-text: #323264;
$separator: #e6e6f0;
$black: #000000;
$light_black: #1d1d1b;
$light_green: #339933;
$green: #009900;
$blue: #000088;
$space_gray: #221f1f;
$white: #ffffff;
$white_2: #fff8e4;
$blue_2: #24a3ff;
$dark_green: #004000;
$orange: #ff6336;
$black_gray: rgba(0, 0, 0, 0.5);
$purple: #9876aa;
$peach: #ff9c7d;
$olive: #a4a14a;
$cyan: #c9e8f2;
$light_gray: #cccccc;
$beige: #dabc98;
$light_gray_2: #eeeeee;
$yellow: #ffc500;
$fs_15: 15px;
$lh_20: 20px;
